/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 85%;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 800px) {
  html,
  body {
    font-size: 62.5%;
  }
}
.container {
  padding: 3%;
  height: 100%;
  color: #fcf9ED;
}
@media (min-width: 800px) {
  .container {
    width: 860px;
    margin: 0 auto;
    padding: 0;
  }
}
.container .pattern-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: flex-end;
}
@media (min-width: 800px) {
  .container .pattern-container {
    left: auto;
    width: inherit;
  }
}
.container .pattern-container .square-pattern {
  width: 370px;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('../assets/square-pattern.png');
}
.bg {
  width: 100%;
  height: 100vh;
  background-color: #FFBA5A;
}
.bg .home-content {
  width: 100%;
  height: 90vh;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0.5px 0.5px #2D283D;
}
@media (min-width: 800px) {
  .bg .home-content {
    width: 70%;
    height: 80%;
    padding: 10%;
    margin-top: 5%;
    align-items: flex-start;
  }
}
.bg .home-content .sub-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 800px) {
  .bg .home-content .sub-heading {
    display: block;
  }
}
.bg .home-content .sub-heading h2 {
  font-weight: bold;
  letter-spacing: 20px;
  font-size: 7rem;
}
.bg .home-content .sub-heading p {
  text-align: center;
  padding: 5px;
  font-size: 2.5rem;
}
@media (min-width: 800px) {
  .bg .home-content .sub-heading p {
    text-align: left;
  }
}
.bg .home-content .sub-heading button {
  width: 80%;
  margin: 10% 0;
  padding: 15px;
  border-radius: 10px;
  color: #FFBA5A;
  font-size: 2rem;
  background-color: #fcf9ED;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 800px) {
  .bg .home-content .sub-heading button {
    width: 40%;
    float: right;
    padding: 1rem;
  }
}
.topbar {
  top: 0;
  left: 0;
  padding: 3%;
  width: 100%;
  z-index: 999;
  display: flex;
  position: fixed;
  justify-content: space-between;
}
@media (min-width: 800px) {
  .topbar {
    position: relative;
    align-items: center;
    justify-content: flex-start;
  }
}
.topbar .logo {
  width: 40px;
  height: 50px;
  z-index: 999;
  font-size: 1.5rem;
  border-radius: 8px;
  transition: 0 ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fcf9ED;
}
@media (min-width: 800px) {
  .topbar .logo {
    font-size: 2rem;
  }
}
.topbar .logo span {
  color: #FFBA5A;
  font-weight: bold;
  line-height: 100%;
}
.topbar .nav-btn {
  z-index: 999;
  font-size: 2.5rem;
}
@media (min-width: 800px) {
  .topbar .nav-btn {
    display: none;
  }
}
.navlinks {
  top: 0;
  left: 0;
  width: 0%;
  z-index: 1;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2D283D;
}
@media (min-width: 800px) {
  .navlinks {
    width: 55%;
    position: unset;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
  }
}
.navlinks .nav-link {
  opacity: 0;
  padding: 4%;
  color: #fcf9ED;
  text-decoration: none;
  font-size: 2.5rem;
  text-shadow: 0.5px 0.5px #2D283D;
}
@media (min-width: 800px) {
  .navlinks .nav-link {
    opacity: 1;
    padding: 1.5% 0;
  }
}
.navlinks .active {
  border-bottom: 1px solid #fcf9ED;
}
