/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 55%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFBA5A;
  scroll-behavior: smooth;
}
@media (min-width: 800px) {
  html,
  body {
    font-size: 62.5%;
  }
}
.container {
  padding: 3%;
  padding-bottom: 5%;
  height: 100%;
  color: #fcf9ED;
}
@media (min-width: 800px) {
  .container {
    padding: 0;
    width: 860px;
    margin: 0 auto;
  }
}
.container .pattern-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  display: none;
  position: absolute;
  justify-content: flex-end;
  z-index: 500;
}
@media (min-width: 800px) {
  .container .pattern-container {
    left: auto;
    width: inherit;
    display: flex;
  }
}
.container .pattern-container .square-pattern {
  width: 370px;
  background-repeat: no-repeat;
  background-image: url('../assets/square-pattern.png');
}
.bg {
  width: 100%;
  height: 100%;
}
.bg .container .home-content {
  width: 100%;
  height: 55vh;
  margin-top: 20%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0.5px 0.5px #2D283D;
}
@media (min-width: 800px) {
  .bg .container .home-content {
    width: 70%;
    height: 52vh;
    margin-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40%;
    padding-bottom: 10%;
    align-items: flex-start;
    margin-bottom: 5px;
  }
}
@media (min-width: 500px) {
  .bg .container .home-content {
    margin-bottom: 40px;
  }
}
.bg .container .home-content .sub-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 800px) {
  .bg .container .home-content .sub-heading {
    display: block;
  }
}
.bg .container .home-content .sub-heading h2 {
  font-weight: bold;
  letter-spacing: 20px;
  font-size: 7rem;
}
.bg .container .home-content .sub-heading p {
  text-align: center;
  padding: 5px;
  font-size: 2.5rem;
}
@media (min-width: 800px) {
  .bg .container .home-content .sub-heading p {
    text-align: left;
  }
}
.bg .container .home-content .sub-heading a {
  width: 80%;
  margin: 10% 0;
  padding: 15px;
  border-radius: 10px;
  color: #FFBA5A;
  font-size: 2rem;
  background-color: #fcf9ED;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bg .container .home-content .sub-heading a:hover {
  animation: bounce 0.25s 2 linear alternate;
}
@keyframes bounce {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
@media (min-width: 800px) {
  .bg .container .home-content .sub-heading a {
    position: relative;
    width: 40%;
    float: right;
    padding: 1rem;
    z-index: 999;
  }
}
.bg .container .home-cards {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10%;
  color: #2D283D;
  padding: 10px;
  background-color: #fcf9ED;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
@media (min-width: 800px) {
  .bg .container .home-cards {
    width: 85%;
    margin: 0 10%;
    margin-bottom: 10%;
  }
}
.bg .container .home-cards h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px;
}
.bg .container .home-cards .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
@media (min-width: 500px) {
  .bg .container .home-cards .card-container {
    flex-direction: row;
  }
}
.bg .container .home-cards .card-container .card {
  margin: 2px;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid gray;
  transition: 0.2s ease-in-out;
}
.bg .container .home-cards .card-container .card:hover {
  transform: scale(0.8);
}
.bg .container .home-cards .card-container .card img {
  width: 100%;
}
.bg .container .home-cards .card-container .card p {
  text-align: center;
  padding-top: 20px;
  font-size: 1.5rem;
}
.home-topbar {
  top: 0;
  left: 0;
  padding: 3%;
  width: 100%;
  z-index: 700;
  display: flex;
  position: fixed;
  background-color: #FFBA5A;
  justify-content: space-between;
}
@media (min-width: 800px) {
  .home-topbar {
    width: 100%;
    padding: 3% 0;
    position: fixed;
    align-items: center;
    padding-left: 10%;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .home-topbar {
    padding-left: 0;
  }
}
.home-topbar .logo {
  width: 40px;
  height: 50px;
  z-index: 999;
  font-size: 1.5rem;
  border-radius: 8px;
  transition: 0 ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fcf9ED;
}
@media (min-width: 800px) {
  .home-topbar .logo {
    font-size: 2rem;
  }
}
.home-topbar .logo span {
  color: #FFBA5A;
  font-weight: bold;
  line-height: 100%;
}
.home-topbar .nav-btn {
  z-index: 1000;
  font-size: 3.5rem;
  color: #2D283D;
}
@media (min-width: 800px) {
  .home-topbar .nav-btn {
    display: none;
  }
}
.navlinks {
  top: 0;
  left: 0;
  width: 0%;
  z-index: 999;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2D283D;
}
@media (min-width: 800px) {
  .navlinks {
    width: 55%;
    position: unset;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFBA5A;
    margin-left: 10%;
  }
}
.navlinks .nav-link {
  opacity: 0;
  padding: 4%;
  color: #fcf9ED;
  text-decoration: none;
  font-size: 2.5rem;
  text-shadow: 0.5px 0.5px #2D283D;
}
@media (min-width: 800px) {
  .navlinks .nav-link {
    opacity: 1;
    padding: 1.5% 0;
  }
}
.navlinks .active {
  border-bottom: 1px solid #fcf9ED;
}
.page-index {
  bottom: 50px;
  right: 8%;
  position: fixed;
  opacity: 0.5;
  border-radius: 5px;
}
.page-index .item {
  border: 1px solid #FFBA5A;
  font-size: 2rem;
}
.about-container {
  margin-top: 20%;
}
@media (min-width: 800px) {
  .about-container {
    margin-top: 10%;
    background-color: transparent;
  }
}
.about-container .main-about {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .about-container .main-about {
    margin-top: 30%;
    flex-direction: row;
    padding-right: 30%;
  }
}
.about-container .main-about .img-content {
  display: flex;
  align-items: center;
  width: 30%;
}
.about-container .main-about .img-content img {
  display: none;
}
@media (min-width: 800px) {
  .about-container .main-about .img-content img {
    width: 100%;
    display: block;
  }
}
.about-container .main-about .text-content {
  width: 100%;
  border: 1px solid #fcf9ED;
  border-radius: 5px;
  padding: 5px;
}
@media (min-width: 800px) {
  .about-container .main-about .text-content {
    width: 70%;
    margin-left: 5%;
    padding: 5px;
  }
}
.about-container .main-about h2 {
  font-size: 3.5rem;
  padding: 8px 0;
  font-weight: bold;
}
.about-container .main-about p {
  font-size: 2.5rem;
}
#team {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 0;
}
#team .gallery {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #fcf9ED;
  justify-content: space-between;
  border-radius: 3px;
  padding: 10%;
  width: 100%;
}
#team .gallery .member {
  width: 250px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
#team .gallery .member .avatar {
  width: 100%;
}
#team .gallery .member .avatar img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
#team .gallery .member .info {
  justify-self: flex-end;
}
#team .gallery .member .info .name {
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 2rem;
}
#team .gallery .member .info .role {
  text-align: center;
  font-size: 1.5rem;
}
