.home-topbar {
  top: 0;
  left: 0;
  padding: 3%;
  width: 100%;
  z-index: 700;
  display: flex;
  position: fixed;
  background-color: @primary-color; 
  justify-content: space-between;
  
  
  @media @desktop {
    width: 100%;
    padding: 3% 0;
    position: fixed;
    align-items: center;
    padding-left: 10%;
    justify-content: center;
  }
  
  @media (min-width: 1440px) {
    padding-left: 0;
  }
  
  .logo {
    position: relative;
    width: 40px;
    height: 50px;
    z-index: 999;
    font-size: 1.5rem;
    border-radius: 8px;
    transition: 0 ease-in-out;
    .flex(row, center, center);
    background-color: @greyscale; 

    @media @desktop {
      font-size: @small-font;
    }

    span {
      color: @primary-color;
      font-weight: bold;
      line-height: 100%;
    }
  }

  .nav-btn {
    z-index: 1000;
    font-size: @medium-font;
    color: @text-color;

    @media @desktop {
      display: none;
    }
  }
}
