.container {
  .pattern-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-end;

    @media @desktop {
      left: auto;
      width: inherit;
    }

    .square-pattern {
      width: 370px;
      height: 100%;
      background-repeat: no-repeat;
      background-image: url('../assets/square-pattern.png');
    }
  }
}

.bg {
  width: 100%;
  height: 100vh;
  background-color: @primary-color;

  .home-content {
    width: 100%;
    height: 90vh;
    margin-top: 10%;
    .flex(column, center, center);
    text-shadow: 0.5px 0.5px @secondary-color;

    @media @desktop {
      width: 70%;
      height: 80%;
      padding: 10%;
      margin-top: 5%;

      align-items: flex-start;
    }

    .sub-heading {
      .flex(column, flex-start, center);

      @media @desktop {
        display: block;
      }

      h2 {
        font-weight: bold;
        letter-spacing: 20px;
        font-size: @large-font;
      }

      p {
        text-align: center;
        padding: 5px;
        font-size: @text-font;

        @media @desktop {
          text-align: left;
        }
      }

      button {
        width: 80%;
        margin: 10% 0;
        padding: 15px;
        border-radius: 10px;
        color: @primary-color;
        font-size: @small-font;
        background-color: @greyscale;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        @media @desktop {
          width: 40%;
          float: right;
          padding: 1rem;
        }
      }
    }
  }
}
