.navlinks {
  top: 0;
  left: 0;
  width: 0%;
  z-index: 1;
  height: 100%;
  position: fixed;
  .flex(column, center, center);
  background-color: @secondary-color;

  @media @desktop {
    width: 55%;
    position: unset;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
  }

  .nav-link {
    opacity: 0;
    padding: 4%;
    color: @greyscale;
    text-decoration: none;
    font-size: @text-font;
    text-shadow: 0.5px 0.5px @secondary-color;

    @media @desktop {
      opacity: 1;
      padding: 1.5% 0;
    }
  }

  .active {
    border-bottom: 1px solid @greyscale;
  }
}