.page-index {
  bottom: 50px;
  right: 8%;
  position: fixed;
  opacity: 0.5;
  border-radius: 5px;

  .item {
    font-size: @small-font;
  }
}

.about-container {
  margin-top: 20%;

  @media @desktop {
    background-color: transparent;
  }

  h2 {
    color: @text-color;
    font-size: @medium-font;
    font-weight: bold;
  }

  .main-about {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;

    @media @desktop {
      margin-top: 15%;
      margin-bottom: 20%;
      flex-direction: row;
      padding-right: 30%;
    }

    .img-content {
      display: flex;
      align-items: center;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 10px;
      
      @media @desktop {
        width: 30%;
      }
      
      img {
        display: inherit;
        width: 100%;

        @media @desktop {
          width: 100%;
          display: block;
        }
      }
    }

    .text-content {
      width: 100%;
      line-height: 29px;
      border: 1px solid @greyscale;
      border-radius: 5px;
      padding: 10px;
      // box-shadow: 0 2px 17px 0 rgba(247, 226, 112, 0.5);
      background-color: @greyscale;

      @media @desktop {
        width: 70%;
        margin-left: 5%;
        padding: 15px;
      }
    }

    h2 {
      font-size: @medium-font;
      padding: 8px 0;
      color: @text-color;
      font-weight: bold;
    }

    p {
      font-size: @small-font;
      color: @text-color;
      text-align: justify;
    }
  }
}
